.onlineIcon {
    display: flex; 
    position: absolute;
    color: #3ba55d;
    right: 2px;
    margin-top: -4px;
}

.offlineIcon {
    display: flex; 
    position: absolute;
    visibility: hidden;
    right: 2px;
    margin-top: -2px;
}