.mainContainer {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    background-color: #2f3136;
    width: 98%;
    height: 42px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 10px;
}